body {
  font-family: Mulish, sans-serif;
  padding: 0;
  margin: 0;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main > section, header {
  padding: 0px clamp(13px, calc(-43px + 17.4vw), 256px);
}

/* HEADER */

header, .hero, footer{
  background-color: #1F3729;
  color: #F9FAF8;
}

header {
  display:flex;
  justify-content: space-between;
  align-items: center;

  font-size: 24px;
}

header > img {
  height: auto;
  margin: 12px 0px;
  max-width: 40%;
}

ul{
  list-style-type: none;
  padding:0;
  font-size: 18px;
  text-align: end;
}

ul li {
  display:inline-block;
  margin-left: 8px;
  font-size: 18px;
}

/* HERO */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 4%;
  row-gap: 32px;
  
  padding-top: clamp(48px, calc(33px + 4.3vw), 96px);
  padding-bottom: clamp(48px, calc(33px + 4.3vw), 96px);
}

.hero-content {
  flex: 1 0 32%;
  min-width: 160px;
}

.hero-content > h1 {
  font-size: clamp(32px, 5vw, 48px);
}

.hero > figure {
  text-align: center;
  margin: 0px;
  font-size: 18px;
  flex: 1 0 64%;
}

.hero > figure > img {
  width: 100%;
}

.hero > figure > figcaption {
  margin-bottom: 12px;
}

button {
  background-color: #1c9e3d;
  border: 0px;
  border-radius: 8px;
  margin: auto 0px;
  
  color: #F9FAF8;
  font-size: 18px;

  padding: 8px 16px;
}

button:hover {
  background-color: #F9FAF8;
  color: #1c9e3d;
}

/* INFO SECTION */

.content {
  text-align: center;
  padding-top: clamp(24px, calc(4px + 6.35vw), 96px);
  padding-bottom: clamp(24px, calc(4px + 6.35vw), 96px);
}

h2 {
  font-size: clamp(24px, 3.75vw, 36px);
  font-weight: 800;
  color: #1f2937
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 4vh;
  align-self: center;
  flex-wrap: wrap;
}

.card {
  border: 1px dotted black;
  max-width: 100px;
}

/* QUOTE */

.quote {
  background-color: #E6E7EB;
  font-size: clamp(24px, 3.75vw, 36px);
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
  padding: clamp(24px, calc(4px + 6.35vw), 96px) clamp(13px, calc((-19px + 9.6vw) + ( -43px + 17.4vw)), 256px);
  text-align: justify;
}

.quote > p {
  margin: 0px 0px 16px;
}

.author {
  text-align: end;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
}

/* CTA */

.cta {
  background-color: #1c9e3d;
  margin: clamp(24px, calc(4px + 6.35vw), 96px) 0px;
  border-radius: 16px;
  padding: clamp(12px, calc(2px + 3.175vw), 48px) clamp(13px, calc(-19px + 9.6vw ), 256px);

  color: #F9FAF8;
  font-weight: 800;

  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.cta > button {
  border: 2px solid #F9FAF8;
  min-width: 120px;
  padding: 8px clamp(8px, 16px, 16px);
}

.cta h3 {
  margin: 0 0 8px;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 24px;
  font-size: 10px;
  margin-top: auto;
}